module <%= project_name.camelize %>
  module <%= aggregate_class_name %>
    class Aggregate
      include EventSourcery::AggregateRoot
<%= @command_method %>
      private
<%= @apply_event_method %>
    end
  end
end
