module <%= project_class_name %>
  module Aggregates
    class <%= aggregate_class_name %>
      include EventSourcery::AggregateRoot
<%= @apply_event_method %><%= @command_method -%>
    end
  end
end
