module <%= project_class_name %>
  module <%= aggregate_class_name %>
    module <%= command_class_name %>
      class CommandHandler
        include EventSourcery::CommandHandler

        def handle(command)
          <%= aggregate_name %> = Repository.load(command.aggregate_id, event_source, event_sink)
          <%= aggregate_name %>.<%= command_name %>(command.payload)
        end
      end
    end
  end
end
