module <%= project_name.underscore.camelize %>
  module <%= aggregate_class_name %>
    class Repository
      def self.load(aggregate_id, event_source, event_sink)
        events = event_source.load(aggregate_id)

        <%= aggregate_name %> = <%= aggregate_class_name %>.new(aggregate_id, event_sink)
        <%= aggregate_name %>.load_history(events)
        <%= aggregate_name %>
      end
    end
  end
end
