require 'projections/<%= projection_name %>/model'
require 'projections/<%= projection_name %>/view'

module <%= project_name.camelize %>
  module Projections
    module <%= projection_name.camelize %>
      class QueryHandler
        include EventSourcery::Projections::QueryHandler

        def handle(query)
          <%= projection_name %> = Model.find_all
          View.decorate(<%= projection_name %>: <%= projection_name %>)
        end
      end
    end
  end
end
