require 'queries/<%= projection_name %>/model'
require 'queries/<%= projection_name %>/view'

module <%= project_name.camelize %>
  module Queries
    module <%= projection_name.camelize %>
      class QueryHandler
        def self.handle(query)
          <%= projection_name %> = Model.find_all
          View.decorate(<%= projection_name %>: <%= projection_name %>)
        end
      end
    end
  end
end
