module <%= project_name.camelize %>
  module Queries
    module <%= projection_name.camelize %>
      class View
        def self.decorate(<%= projection_name %>:)
          {
            <%= projection_name %>: <%= projection_name %>.map do |<%= projection_name.singularize %>|
              { id: <%= projection_name.singularize %>.id }
            end
          }
        end
      end
    end
  end
end
