
      def <%= command_name %>(payload)
        # Perform any relevant contextual validations on aggregate, e.g.
        # raise Error::RejectedCommandError if @<%= event_name %>_occurred

        # Set the event body
        event_body = payload

        # Apply and persist the event
        apply_event EventSourcery::Event.new(aggregate_id: id, type: :<%= event_name %>, body: event_body)
      end
