
      def <%= command_name %>(payload)
        # Perform any relevant contextual validations on aggregate

        # Apply the event without persistence
        apply_event(
          <%= event_class_name %>,
          aggregate_id: id,
          body:         payload,
        )
      end
