# This module contains the API endpoints for all <%= @side %>.

module <%= project_name.camelize %>
  module <%= @side.camelize %>
    module API
      def self.registered(app)

      end
    end
  end
end
