#!/usr/bin/env sh -eou pipefail

echo
echo "--- Installing bundled gems"
echo

bundle install

if ! type -t "foreman" > /dev/null; then
  echo
  echo "--- Installing foreman"
  echo

  gem install foreman
fi

echo
echo "--- Creating and migrating databases"
echo

createdb <%= project_name.underscore %>_development
createdb <%= project_name.underscore %>_test

bundle exec rake db:migrate
RACK_ENV=test bundle exec rake db:migrate
