module Command
  module <%= aggregate.camelize %>
    module <%= command.camelize %>
      class CommandHandler
        include EventSourcery::CommandHandler

        def handle(command)
          <%= aggregate %> = Repository.load(command.aggregate_id, event_source, event_sink)
          <%= aggregate %>.<%= command %>(command)
        end
      end
    end
  end
end
